.container {
    margin: 0 auto;
    margin-top: 50px;

    background-color: red;
}

.logo {
    width: 200px;
    height: 200px;
    background-image: url('../assets/webpack-logo.png');
    background-size: cover;
}